<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sipek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sipek.Properties.Settings>
            <setting name="cfgRingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfgSipPort" serializeAs="String">
                <value>5060</value>
            </setting>
        </Sipek.Properties.Settings>
    </userSettings>
</configuration>